<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Sprite</key>
		<string>cake_1</string>
		<key>Mass</key>
		<real>0.88</real>
		<key>XScale</key>
		<real>0.45</real>
		<key>YScale</key>
		<real>0.4</real>
		<key>Restitution</key>
		<integer>0</integer>
		<key>MinFlips</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>cake_2</string>
		<key>Mass</key>
		<real>0.54</real>
		<key>XScale</key>
		<real>0.4</real>
		<key>YScale</key>
		<real>0.4</real>
		<key>Restitution</key>
		<integer>0</integer>
		<key>MinFlips</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>cake_3</string>
		<key>Mass</key>
		<integer>1</integer>
		<key>XScale</key>
		<real>0.65</real>
		<key>YScale</key>
		<real>0.6</real>
		<key>Restitution</key>
		<integer>0</integer>
		<key>MinFlips</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>cake_4</string>
		<key>Mass</key>
		<real>0.25</real>
		<key>XScale</key>
		<real>0.3</real>
		<key>YScale</key>
		<real>0.3</real>
		<key>Restitution</key>
		<integer>0</integer>
		<key>MinFlips</key>
		<integer>15</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>cake_5</string>
		<key>Mass</key>
		<real>0.3</real>
		<key>XScale</key>
		<real>0.28</real>
		<key>YScale</key>
		<real>0.2</real>
		<key>Restitution</key>
		<integer>0</integer>
		<key>MinFlips</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>cake_6</string>
		<key>Mass</key>
		<real>0.25</real>
		<key>XScale</key>
		<real>0.45</real>
		<key>YScale</key>
		<real>0.4</real>
		<key>Restitution</key>
		<integer>0</integer>
		<key>MinFlips</key>
		<integer>25</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>cake_7</string>
		<key>Mass</key>
		<real>0.22</real>
		<key>XScale</key>
		<real>0.37</real>
		<key>YScale</key>
		<real>0.3</real>
		<key>Restitution</key>
		<integer>0</integer>
		<key>MinFlips</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>cake_8</string>
		<key>Mass</key>
		<real>0.34</real>
		<key>XScale</key>
		<real>0.35</real>
		<key>YScale</key>
		<real>0.35</real>
		<key>Restitution</key>
		<integer>0</integer>
		<key>MinFlips</key>
		<integer>35</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>cake_9</string>
		<key>Mass</key>
		<real>0.27</real>
		<key>XScale</key>
		<real>0.45</real>
		<key>YScale</key>
		<real>0.4</real>
		<key>Restitution</key>
		<integer>0</integer>
		<key>MinFlips</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>cake_10</string>
		<key>Mass</key>
		<real>0.4</real>
		<key>XScale</key>
		<real>0.55</real>
		<key>YScale</key>
		<real>0.5</real>
		<key>Restitution</key>
		<integer>0</integer>
		<key>MinFlips</key>
		<integer>45</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>cake_11</string>
		<key>Mass</key>
		<real>1.089</real>
		<key>XScale</key>
		<real>0.65</real>
		<key>YScale</key>
		<real>0.6</real>
		<key>Restitution</key>
		<integer>0</integer>
		<key>MinFlips</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>cake_12</string>
		<key>Mass</key>
		<real>1.5</real>
		<key>XScale</key>
		<real>0.68</real>
		<key>YScale</key>
		<real>0.64</real>
		<key>Restitution</key>
		<integer>0</integer>
		<key>MinFlips</key>
		<integer>55</integer>
	</dict>
</array>
</plist>
