<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Sprite</key>
		<string>cake_1</string>
		<key>Mass</key>
		<real>1.3</real>
		<key>XScale</key>
		<real>0.45</real>
		<key>YScale</key>
		<real>0.4</real>
		<key>Restitution</key>
		<integer>0</integer>
		<key>MinFlips</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>cake_2</string>
		<key>Mass</key>
		<real>0.3</real>
		<key>XScale</key>
		<real>0.45</real>
		<key>YScale</key>
		<real>0.4</real>
		<key>Restitution</key>
		<integer>1</integer>
		<key>MinFlips</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>cake_3</string>
		<key>Mass</key>
		<real>1.75</real>
		<key>XScale</key>
		<real>0.45</real>
		<key>YScale</key>
		<real>0.4</real>
		<key>Restitution</key>
		<integer>5</integer>
		<key>MinFlips</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>water-bottle</string>
		<key>Mass</key>
		<real>0.95</real>
		<key>XScale</key>
		<real>0.45</real>
		<key>YScale</key>
		<real>0.4</real>
		<key>Restitution</key>
		<integer>0</integer>
		<key>MinFlips</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>coffee</string>
		<key>Mass</key>
		<real>0.35</real>
		<key>XScale</key>
		<real>0.45</real>
		<key>YScale</key>
		<real>0.4</real>
		<key>Restitution</key>
		<integer>0</integer>
		<key>MinFlips</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>cola</string>
		<key>Mass</key>
		<real>0.25</real>
		<key>XScale</key>
		<real>0.45</real>
		<key>YScale</key>
		<real>0.4</real>
		<key>Restitution</key>
		<integer>0</integer>
		<key>MinFlips</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>wine-glass</string>
		<key>Mass</key>
		<real>0.18</real>
		<key>XScale</key>
		<real>0.45</real>
		<key>YScale</key>
		<real>0.4</real>
		<key>Restitution</key>
		<integer>0</integer>
		<key>MinFlips</key>
		<integer>13</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>mayonnaise</string>
		<key>Mass</key>
		<integer>2</integer>
		<key>XScale</key>
		<real>0.45</real>
		<key>YScale</key>
		<real>0.4</real>
		<key>Restitution</key>
		<integer>2</integer>
		<key>MinFlips</key>
		<integer>16</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>aroma</string>
		<key>Mass</key>
		<real>0.32</real>
		<key>XScale</key>
		<real>0.45</real>
		<key>YScale</key>
		<real>0.4</real>
		<key>Restitution</key>
		<integer>0</integer>
		<key>MinFlips</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>perfume</string>
		<key>Mass</key>
		<real>0.28</real>
		<key>XScale</key>
		<real>0.45</real>
		<key>YScale</key>
		<real>0.4</real>
		<key>Restitution</key>
		<integer>0</integer>
		<key>MinFlips</key>
		<integer>24</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>lamp</string>
		<key>Mass</key>
		<real>0.95</real>
		<key>XScale</key>
		<real>0.45</real>
		<key>YScale</key>
		<real>0.4</real>
		<key>Restitution</key>
		<integer>3</integer>
		<key>MinFlips</key>
		<integer>28</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>laptop</string>
		<key>Mass</key>
		<real>3</real>
		<key>XScale</key>
		<real>0.45</real>
		<key>YScale</key>
		<real>0.4</real>
		<key>Restitution</key>
		<integer>5</integer>
		<key>MinFlips</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>teddy-bear</string>
		<key>Mass</key>
		<real>0.45</real>
		<key>XScale</key>
		<real>0.45</real>
		<key>YScale</key>
		<real>0.4</real>
		<key>Restitution</key>
		<integer>3</integer>
		<key>MinFlips</key>
		<integer>35</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>cream</string>
		<key>Mass</key>
		<integer>2</integer>
		<key>XScale</key>
		<real>0.45</real>
		<key>YScale</key>
		<real>0.4</real>
		<key>Restitution</key>
		<integer>0</integer>
		<key>MinFlips</key>
		<integer>40</integer>
	</dict>
</array>
</plist>
