<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Sprite</key>
		<string>table</string>
		<key>MinFlips</key>
		<integer>0</integer>
		<key>XScale</key>
		<real>1.3</real>
		<key>YScale</key>
		<real>1.3</real>
		<key>YPosition</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>1table_2</string>
		<key>MinFlips</key>
		<integer>10</integer>
		<key>XScale</key>
		<real>1.3</real>
		<key>YScale</key>
		<real>1.3</real>
		<key>YPosition</key>
		<integer>11</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>2table_3)</string>
		<key>MinFlips</key>
		<integer>20</integer>
		<key>XScale</key>
		<real>1.3</real>
		<key>YScale</key>
		<real>1.3</real>
		<key>YPosition</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>3table_4</string>
		<key>MinFlips</key>
		<integer>30</integer>
		<key>XScale</key>
		<real>1.3</real>
		<key>YScale</key>
		<real>1.3</real>
		<key>YPosition</key>
		<integer>12</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>4table_5</string>
		<key>MinFlips</key>
		<integer>40</integer>
		<key>XScale</key>
		<real>1.3</real>
		<key>YScale</key>
		<real>1.3</real>
		<key>YPosition</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>5oven</string>
		<key>MinFlips</key>
		<integer>50</integer>
		<key>XScale</key>
		<real>1.3</real>
		<key>YScale</key>
		<real>1.3</real>
		<key>YPosition</key>
		<integer>-22</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>6bookcase</string>
		<key>MinFlips</key>
		<integer>60</integer>
		<key>XScale</key>
		<real>1.3</real>
		<key>YScale</key>
		<real>1.3</real>
		<key>YPosition</key>
		<integer>-22</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>7car</string>
		<key>MinFlips</key>
		<integer>70</integer>
		<key>XScale</key>
		<real>1.3</real>
		<key>YScale</key>
		<real>1.3</real>
		<key>YPosition</key>
		<integer>-4</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>orange</string>
		<key>MinFlips</key>
		<integer>80</integer>
		<key>XScale</key>
		<real>1.3</real>
		<key>YScale</key>
		<real>1.3</real>
		<key>YPosition</key>
		<integer>-22</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>9beef</string>
		<key>MinFlips</key>
		<integer>90</integer>
		<key>XScale</key>
		<real>1.3</real>
		<key>YScale</key>
		<real>1.3</real>
		<key>YPosition</key>
		<integer>13</integer>
	</dict>
</array>
</plist>
